# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Collecting pymongo
  Downloading pymongo-3.12.1-cp39-cp39-win_amd64.whl (398 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.12.1
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [3]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################

CONNECTION_STRING = "mongodb+srv://tobyloby:Blue1234@cluster0.v1t8e.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = pymongo.MongoClient(CONNECTION_STRING)### TO DO
db=client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [4]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635771365, 5),
                  'signature': {'hash': b'\x19\xf5F\x94\xc9r\xbe\r\xbe\xa2\x81h'
                                        b'Z\xed$\x7f@\x03\xeb\xec',
                                'keyId': 6984028040644788225}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 492, 'current': 8, 'totalCreated': 17},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.v1t8e.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 1, 12, 56, 5, 408000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 11089}}},
 'network': {'bytesIn': 207341099, 'bytesOut': 222761, 'numRequests': 547},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 79240335, 'ops': 117},
                 'reads': {'latency': 0, 'ops': 0},
                 'writes': {'latency': 373228734, 'ops': 427}},
 'opcounters': {'command': 120,
                'delete': 0,
                'getmore': 0,
                'insert': 418002,
                'query': 0,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635771365, 5),
 'pid': 73751,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000044'),
          'hosts': ['cluster0-shard-00-00.v1t8e.mongodb.net:27017',
                    'cluster0-shard-00-01.v1t8e.mongodb.net:27017',
                    'cluster0-shard-00-02.v1t8e.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 1, 12, 56, 5),
                        'majorityOpTime': {'t': 68,
                                           'ts': Timestamp(1635771365, 4)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 1, 12, 56, 5),
                        'opTime': {'t': 68, 'ts': Timestamp(1635771365, 5)}},
          'me': 'cluster0-shard-00-02.v1t8e.mongodb.net:27017',
          'primary': 'cluster0-shard-00-02.v1t8e.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-zq3i6g-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616ecd951db0a73b42f6187f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635771346, 3),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 1119824.0,
 'uptimeEstimate': 1119823,
 'uptimeMillis': 1119823927,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [5]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Andrew Roberts', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Alex Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Paul Adams', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Paul Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Ellie Peterson', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Natalia Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Maria Roberts', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Maria Baker', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Anna Roberts', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Maria Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Anna Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Maria Roberts', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Anna Adams', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Andrew Adams', 'DAPS_assignment': 6, 'reviewer': 'Miguel'}, {'name': 'Ellie Palmer', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Paul Roberts', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Natalia Adams', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Maria Turner', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Alex Peterson', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Alex Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Andrew Palmer', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Andrew Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Nick Peterson', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Ellie Turner', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Paul Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Ellie Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [6]:
# Create a database object called “students”
db = client.students

In [47]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
collection = db.collection_student

for i in range(len(student)):
    try:
        collection.insert_one(student[i])
    except:
        pass


#########

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [48]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
student_score = collection.find_one({'DAPS_assignment': 5})

print(student_score)
#########

{'_id': ObjectId('617fe84dad495490ecb1f527'), 'name': 'Alex Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [87]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO

# count = collection.count({'DAPS_assignment': 8}) + collection.count({'DAPS_assignment': 3})
query = collection.aggregate([{
    "$match": {
        "DAPS_assignment": {
            '$in': [3, 8],
            },
    }
    },{
    "$count": "Number of Students"
}])
print(query.next())
#########

{'Number of Students': 7}

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [91]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
query = {'DAPS_assignment': 4}
new_values = {'$set': {'DAPS_assignment': 5}}
collection.update_many(query, new_values)


#########

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [93]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
collection.delete_many({'reviewer': 'Laura'})


#########

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap